SERVICE_NAME=tx-builder
DATABASE_URL=postgres://USER:PASS@HOST:5432/DB?sslmode=require
OPA_URL=http://opa:8181
NATS_URL=nats://nats:4222

BITCOIND_RPC_URL=http://bitcoind-regtest.btc-net.svc.cluster.local:18443/
BITCOIND_RPC_USER=rpcuser
BITCOIND_RPC_PASS=change-me-strong